#MENU {

    width: 150px;
    float: left;
    /*overflow: hidden;*/
    /*background-color: #ccc;*/
    background: #fff;
    margin-right: 20px;

    /*box-shadow:2px 2px 5px #3D3C3C;*/
}
#MENU a{
    color: #000;
}
#MENU ul{
    width: 145px;
    /*border: 1px solid #ddd;*/
    /*border-top: 5px solid #1F5D9B;*/
    /*    -webkit-border-radius: 0px 0px 3px 3px;
        -moz-border-radius: 0px 0px 7px 3px;
        border-radius: 0px 0px 7px 7px;*/
    /*border-bottom: none;*/
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    box-shadow:1px 1px 4px #807D7D;
    /*margin-top: -15px;*/

}
#MENU ul li {
    border-bottom: 1px solid #000;
    padding: 5px;

}
#MENU ul li:hover {
    background: #3297FD;
    background: #eee;
    /*color: #fff;*/
}
#MENU ul li:first-child {
    /*border-bottom: none;*/
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
}
#MENU ul li:last-child {
    border-bottom: none;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
}
#MENU ul li a{
    font-family: "Lucida Grande", Arial, Helvetica, Geneva, Sans-serif;
    font-size: 12px;
    text-decoration: none;
    /*font-weight: bold;*/

}
/*            #MENU ul li:hover{
                background: #1F5D9B;
                color: #fff;
            }*/
#MENU ul li a:hover{
    background: #eee;
    /*background: #3297FD;*/
    /*color: #fff;*/
    /*padding: 3px;*/
}
/*#MENU ul li a:selected {
    background: #3297FD !important;
}
#MENU ul li a:active{
    background: #3297FD !important;
}*/
.set {
    /*background: #1F5D9B !important;*/
    color: #fff !important;
    font-weight: bold;
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%) !important; /* Chrome10+,Safari5.1+ */ 
    background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */

}
.set:hover {
    background: #3297FD ;
    color: #eee !important;
}
table tbody tr td select,table input[type="text"]{
    /*width: 60px ;*/
    border: 1px solid #ddd;
}
table tbody input[type="text"]:hover{
    border: 1px solid #bbb;
}

/*#MENU ul li:first-child{background:#3297FD;font-weight: bolder;
                        color: #fff;
                        font-size: 10.5px;
                        height: 50px;
                        background: #7abcff;  Old browsers 
                        background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);  FF3.6+ 
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));  Chrome,Safari4+ 
                        background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);  Chrome10+,Safari5.1+ 
                        background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);  Opera 11.10+ 
                        background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);  IE10+ 
                        background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%);  W3C 
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );  IE6-9 
}*/
/*#MENU ul li:first-child:hover{color: #fff;}*/
#TRESC {
    padding: 10px;
    width: 400px;
    /*float: left;*/
    /*overflow: hidden;*/
    margin-left: 150px;
    background-color: #fff;
}

#STOPKA {
    clear: both;
    width: 100%;
    background-color: #888;
}
